.footer{
        text-align: center;
         padding: 10px;
        background-color: #696773;
          width: 83.91em;

    }
    .footer_1{
        padding-bottom:10px;
    }
     .footer_1 i{
        font-size: 30px;
        font-family: "Space Grotesk", sans-serif;
        
    }
@media(max-width: 420px){
    .footer{
        text-align: center;
        width: 103em;
       

    }
    .footer_1 i{
        font-size: 100px;
        font-family: "Space Grotesk", sans-serif;
        
    }
    .footer_2{
        background-color:lightgreen;
        margin-top: 20px;
        font-family: "Space Grotesk", sans-serif;
    }
}