.tabla{
		text-align: center	;
	    margin: 10px;
	 width: 83em;
}
.currencys_cards  {
    
	width: 79em;
}

.img_cur img{
	width: 	20%;
}

.tabla th, .tabla td {
 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

 
.tabla tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
tbody{
	font-size: 	13px;
}
@media(max-width:420px){

		.tabla{
		text-align: center	;
	  margin: 5px;
	   width: 103em;
}
#doc{
	display: none;
}
.logo{
	margin-right: 20em;
}
.currencys_cards   {
  text-align: center;
   position: relative;
   left: 10em;
	 

}
	 
}