.tabla{
		text-align: center	;
	 margin: 20px;
}


.img_cur img{
	width: 	20%;
}

.tabla th, .tabla td {
 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

 
.tabla tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
tbody{
	font-size: 	13px;
}