---
import Base from '../layouts/base.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'
---

<Base></Base>
<div class="container">
		<div class="header">
			<p>header</p>
	     </div>
	     <div class="currencys">
			
	     </div>
	     <div class="documentacion">
			
	     </div>
	     <div class="footer">
			
	     </div>

</div>