---
import Base from '../layouts/base.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'
---

<Base>
	<div class="container">
		<div class="header">
			<div class="header-text">
				<h1 class="title1">The cryptocurrency market</h1>
			<p>Blockchain technology, which underpins these digital currencies, has proven to be more than just a way to carry out 	 financial transactions.</p>
			<div class="currencys">
				<div class="curr"><img src="../img/1.png" ></div>
				<div class="curr"><img src="../img/2.png" ></div>
				<div class="curr"><img src="../img/3.png" ></div>
				<div class="curr"><img src="../img/4.png" ></div>
				<div class="curr"><img src="../img/5.png" ></div>
			</div>
			</div>

			 <div class="header-img">
			 	<img src="../img/criptomonedas.png" >
			 </div>
			 
	     </div>
	     <div class="currencis">
	     	<div class="numer">
			 	<img src="../img/numer1.png" >
			 </div>
			 <div class="currencys_body">
			 	 <h3>Differences between Bitcoin and other popular cryptocurrencies</h3>
			 <h1>Objectives and Use Cases</h1>
			 <hr>
			<div class="currencys_cards">
				<div class="cards">
					 <Card title="Bitcoin (BTC)" descripcion="Primarily conceived as a form of digital money and store of value, with a focus on decentralization and censorship resistance." />
				</div>
				 
				 <div class="cards">
					 <Card title="Ethereum" descripcion="Designed to be a platform for decentralized applications (dApps) and smart contracts, enabling a wide range of use cases beyond financial transactions." />
				</div>
				 
				 <div class="cards">
					 <Card title="Ripple" descripcion="Aimed at facilitating cross-border payments and financial transactions between financial institutions and banks." />
				</div>
				 
				 <div class="cards">
					 <Card title="Litecoin" descripcion="Similar to Bitcoin, but with faster confirmation times and lower transaction fees, making it suitable for everyday transactions and micropayments." />
				</div>
				 
				
			</div>
			 </div>
			 
	     </div>
	     <div id="documentacion">
				<div class="numer2">
			 	<img src="../img/numer2.png" >
			 </div>
			 <div class="documentacion_body">
			 	<div class="documentacion_body_title">
			 		 
			           <h1>Objectives and Use Cases</h1>
			           <h3>Exploring Trends, Challenges and Opportunities</h3>
			        <hr>
			 	</div>
			 		  
			 	<div class="content_document">
			 		<div class="card_docu">
					 <Card title="Bitcoin remains the main cryptocurrency" descripcion="Bitcoin continues to be the leading cryptocurrency in terms of market capitalization and widespread adoption. Despite the volatility, its dominant position remains strong." />
				     </div>
				     <div class="img_docume">
				     	<img src="../img/crep1.jpg" >
				     </div>

				     <div class="img_docume">
				     	<img src="../img/crip2.png" >
				     </div>
				     <div class="card_docu">
					 <Card title="Market evolution" descripcion="The cryptocurrency market is highly volatile and can experience significant fluctuations in short periods of time. It is important for investors to understand and manage the risks associated with this volatility." />
				     </div>
				     <hr class="divisor">

				     <div class="card_docu">
					 <Card title="Emerging altcoins" descripcion=" Además de Bitcoin, hay miles de otras criptomonedas en el mercado, conocidas como altcoins. Algunas de estas altcoins están ganando popularidad y tracción entre los inversores y desarrolladores debido a características específicas como contratos inteligentes (Ethereum), privacidad (Monero, Zcash), escalabilidad (Solana, Polkadot) y mucho más." />
				     </div>
				     <div class="img_docume">
				     	<img src="../img/crep3.jpg" >
				     </div>

				     <div class="img_docume">
				     	<img src="../img/crep4.jpg" >
				     </div>
				     <div class="card_docu">
					 <Card title="Institutional adoption on the rise" descripcion="Companies and financial institutions are showing growing interest in cryptocurrencies. Some are investing in Bitcoin as a store of value, while others are exploring the potential of blockchain technology to improve the efficiency of their operations." />
				     </div>
				      

			 	</div>
			 	 

			 	</div>
			 	 
			 	
			 </div>
	     </div>
	     <div class="footer">
			 

	     </div>

</div>

</Base>
 