---
import '../styles/header.css'
---

<nav class="navbar">

		<ul>
			<li class="logo"><a href="/"> CritpInfo </a></li>
			<li><a href="#documentacion"> Documentation</a></li>
			<li><a href="/currencys"> Comparation</a></li>
			<li><a href=""> GitHub</a></li>
		</ul>
</nav>